[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.12.5"
chardet = "==4.0.0"
idna = "==2.10"
requests = "==2.25.1"
urllib3 = "==1.26.4"
django = "===3.2.3"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
azure-cognitiveservices-knowledge-qnamaker = "==0.2.0"
nltk = "*"
newspaper3k = "*"
numpy = "*"
sklearn = "*"
beautifulsoup4 = "*"
chatterbot-corpus = "*"
turkishstemmer = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
