{% extends 'base.html' %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"></h1>
</div>

<!-- Content Row -->
<div class="row">
  <div class="container">
 
  
  <!--chatbot widget -->
  <div class="widget">
    <div class="chat_header">

        <!--Add the name of the bot here -->
        <span class="chat_header_title">SohBot</span>
        <span class="dropdown-trigger" href='#' data-target='dropdown1'>
          <i class="material-icons">
          more_vert
          </i>
       </span>

        <!-- Dropdown menu-->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#" id="clear">Sohbet Geçmişini Temizle</a></li>
            <li><a href="#" id="restart">Sohbeti Yeniden Başlat</a></li>
            <li><a href="#" id="close">Sohbeti Sonlandır</a></li>
        </ul>
    </div>

    <!--Chatbot contents goes here -->
    <div class="chats" id="chats">
        <div class="clearfix"></div>

    </div>

    <!--keypad for user to type the message -->
    <div class="keypad">
        <textarea id="userInput" placeholder="Buraya yazınız..." class="usrInput"></textarea>
        <div id="sendButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
        </div>
    </div>

<!--bot profile-->
<div class="profile_div" id="profile_div">
    <img class="imgProfile" src="static/img/botAvatar.png" />
</div>

<!-- Bot pop-up intro -->
<div class="tap-target" data-target="profile_div">
    <div class="tap-target-content">
        <h5 class="white-text">Merhaba! 👋</h5>
        <p class="white-text">Sanal asistanınız SohBot ile konuşmaya başlamak için alttaki ikona tıklamanız yeterli. Daha iyi bir kullanıcı deneyimi için <br/> Türkçe karakterler <br/> kullanmanızı <br/> öneriyoruz.</p>
    </div>
</div>
</div>
</div>


{% endblock content%}